<form [formGroup]="form" (submit)="onSubmit()">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" class="form-control" placeholder="example@domain.com" />
    </div>
    <div class="error" *ngIf="isControlInvalid('email')">
        Email должен быть валидным
    </div>

    <br>
    
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" id="password" formControlName="password" class="form-control" placeholder="пароль" />
    </div>
    <div class="error" *ngIf="isControlInvalid('password')">
        Минимальная длина пароля - 8 знаков
    </div>

    <br><br>

    <button type="submit" class="btn btn-primary">Войти</button>
</form>
