<form [formGroup]="form" (submit)="onSubmit()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" class="form-control" placeholder="username" />
    </div>
    <div class="error" *ngIf="isControlInvalid('username')">
        Имя пользователя должно быть валидным
    </div>

    <br>
    
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" id="password" formControlName="password" class="form-control" placeholder="пароль" />
    </div>
    <div class="error" *ngIf="isControlInvalid('password')">
        Минимальная длина пароля - 8 знаков
    </div>

    <br><br>

    <button type="submit" class="btn btn-primary">Войти</button>
</form>
