<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="navbar">
  <a class="navbar-brand" routerLink="/">Онлайн-столовая</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"  (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01"
    [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="user">
        <a class="nav-link" routerLink="/schedule">Расписание</a>
      </li>
      <li class="nav-item" *ngIf="status == 'cook'">
        <a class="nav-link" routerLink="/dishes">Реестр блюд</a>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end" *ngIf="user">
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Выход</a>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end" *ngIf="!user">
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/login">Вход</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/signup">Регистрация</a>
      </li>
    </ul>
  </div>
</nav>

<link rel="stylesheet" 
href="https://material-icons.github.io/material-icons-font/css/all.css">

<flash-messages></flash-messages>
<router-outlet></router-outlet>